<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.0.0" targetFramework="net472" />
  <package id="Qactive" version="2.1.0" targetFramework="net472" />
  <package id="Qactive.Expressions" version="2.1.0" targetFramework="net472" />
  <package id="Qactive.Providers.Streaming" version="2.1.0" targetFramework="net472" />
  <package id="Qactive.Providers.Tcp" version="2.1.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.3" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Reactive" version="3.0.0" targetFramework="net472" />
  <package id="System.Reactive.Core" version="3.0.0" targetFramework="net472" />
  <package id="System.Reactive.Interfaces" version="3.0.0" targetFramework="net472" />
  <package id="System.Reactive.Linq" version="3.0.0" targetFramework="net472" />
  <package id="System.Reactive.PlatformServices" version="3.0.0" targetFramework="net472" />
  <package id="System.Reactive.Providers" version="3.0.0" targetFramework="net472" />
  <package id="System.Reactive.Windows.Threading" version="3.0.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0-preview.3.20214.6" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="5.0.0-preview.3.20214.6" targetFramework="net472" />
  <package id="System.Text.Json" version="5.0.0-preview.3.20214.6" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>